*.aux
*.glo
*.idx
*.log
*.loa
*.lol
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.bcf
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.slg
*.slo
*.sls
*.tdo
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.swp
~$*.docx
~$*.xlsx
Thumbs.db
template/*
*.DS_Store
drafts/old/*
drafts/draft.docx
pandoc/*.tex
pandoc/*.docx
markdown/*DRF-outline.md
markdown/*.fix.md
bib_analysis/.idea
pandoc/.idea
/latex/result/thesis.pdf
grammarly/*.txt
data/ui_transformer/.idea
/pandoc/scripts/.idea
.idea
